name: Go

on: [push]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
      - name: install depencencies
        run: cd ./backend && go get .
      - name: Build
        run: go build -v ./...
      - name: Test with go CLI
        run: go test ./...
