name: Go

on: [push]

jobs:
  build:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
          cache-dependency-path: ./backend/go.sum
      - name: Install dependencies
        run:  go get .
      - name: Build
        run: go build -v ./...
      - name: Test with go CLI
        run: go test ./...
