name: main workflow

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test_backend:
    runs-on: self-hosted
    permissions:
      contents: read 
    defaults:
      run:
        working-directory:  ./backend

    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with: 
          go-version: '1.25.5'
          cache-dependency-path: ./backend/go.sum
      - name: Test backend
        run: go test ./...
  
  build_backend:
    runs-on: self-hosted
    needs: test_backend
    permissions:
      contents: read 
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v6
      - name: Setup go environment
        uses: actions/setup-go@v6
        with:
            go-version: '1.25.5'
            cache-dependency-path: ./backend/go.sum

      - name: build backend
        run: CGO_ENABLED=1 go build -o main -v ./cmd/server/main.go

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: main-executable
          path: ./backend/main

  dockerize_backend:
    runs-on: self-hosted
    needs: build_backend
    permissions:
      contents: read
      packages: write
    outputs:
      tag: ${{ steps.meta.outputs.version }}
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v6
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: main-executable
          path: ./backend
      - name: Generate metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/poke-atlas-backend
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch
            type=sha

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.TOKEN_GITHUB }}
      
      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}


  build_frontend:
    runs-on: self-hosted
    permissions:
      contents: read
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci

      - name: Build frontend
        run: npm run build

      - name: Upload frontend build
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: build


  dockerize_frontend:
    runs-on: self-hosted
    needs: build_frontend
    permissions:
      contents: read
      packages: write
    outputs:
      tag: ${{ steps.meta_frontend.outputs.version }}
    defaults:
      run:
        working-directory: ./frontend

    steps:
    - uses: actions/checkout@v6
    - name: Download frontend build
      uses: actions/download-artifact@v5
      with:
        name: frontend-build
        path: ./frontend/build
    - name: Generate metadata
      id: meta_frontend
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/${{ github.repository_owner }}/poke-atlas-frontend
        tags: |
          type=raw,value=latest,enable={{is_default_branch}}
          type=ref,event=branch
          type=sha

    # Login to GHCR
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.TOKEN_GITHUB }}

    # Build & push Docker image
    - name: Build and push frontend image
      uses: docker/build-push-action@v6
      with:
        context: ./frontend
        file: Dockerfile
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ steps.meta_frontend.outputs.tags }}
        labels: ${{ steps.meta_frontend.outputs.labels }}

  deploy:
    runs-on: self-hosted
    environment: production
    needs: 
      - dockerize_backend
      - dockerize_frontend
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v6
      
      - name: Deploy
        env:
          DEPLOY_HOST: ${{ vars.DEPLOY_HOST_ADDRESS }}
        run: |
          mkdir deploy && cp docker-compose.yml ./deploy
          scp -r deploy root@${DEPLOY_HOST}:~/
          ssh root@${DEPLOY_HOST} << EOF
          set -e
          cd ~/deploy
          echo "${{ secrets.TOKEN_GITHUB }}" | docker login ghcr.io -u ${{ github.repository_owner}} --password-stdin
          export USER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          export BACKEND_IMAGE_TAG=${{ needs.dockerize_backend.outputs.tag }}
          export FRONTEND_IMAGE_TAG=${{ needs.dockerize_frontend.outputs.tag }}
          docker compose pull
          docker compose up -d
          EOF